{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content %}


{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

<div class="row pt-3">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">Atlante palazzi comunali</h1>
                <p class="lead">Descrizione breve del progetto</p>
                </div>
            </div>
        </div>
    </div>
    
<div class="row">
    <div class="col-12">
            <div id="bs4-slide-carousel" class="carousel slide overflow-hidden" data-ride="carousel" style="height: 400px;"">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="/static/img/home1.jpg"  alt="Slide One">
                      </div>
                      <div class="carousel-item" style="overflow-x: auto;">
                        <img class="d-block w-100" src="/static/img/home2.jpg" alt="Slide Two">
                      </div>
                      <div class="carousel-item" style="overflow-x: auto;">
                        <img class="d-block w-100" src="/static/img/home3.jpg" alt="Slide Three">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#bs4-slide-carousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#bs4-slide-carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>  
                  </div>
                  
                  </div>
                  
            
    </div>
</div>

<div class="row container-fluid">
    <div class="col-4">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at nisi a urna pellentesque ultricies quis id orci. Aenean mollis ex eget dui pulvinar aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet libero a eros sodales imperdiet. Pellentesque et aliquam purus. Etiam maximus risus augue, ac mattis risus vulputate ac. Nam a lectus aliquet, dapibus ante sed, sagittis magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vitae auctor nulla. Donec vitae arcu et quam vulputate dignissim. Cras vehicula imperdiet euismod. Integer dapibus neque sit amet neque tincidunt, sit amet varius urna tristique.
        </p>
        <p>
            Pellentesque ultrices massa eros, blandit finibus massa consequat nec. Fusce in nisl non tortor luctus lobortis congue aliquam tortor. Sed ipsum dolor, feugiat sit amet nisi nec, ullamcorper fermentum augue. Etiam enim orci, pharetra eu quam sit amet, venenatis ornare tortor. Curabitur quis mauris rutrum, rhoncus nisl eget, congue mi. Nunc auctor vel nisi et consectetur. In ut tincidunt nisi, ut varius nisi. Aenean scelerisque nulla quis pharetra molestie. Aliquam ornare sit amet nisl ac commodo. Aenean in ipsum magna. Praesent nibh risus, mollis vitae diam nec, gravida auctor enim. Etiam vitae mi ullamcorper, congue nisl sit amet, imperdiet felis. Pellentesque non iaculis nibh.
        </p>
            
    </div>
    <div class="col-4">
        <p>
            Etiam quis ullamcorper dolor. Mauris ipsum mauris, bibendum eget ipsum ac, egestas eleifend erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan nisi ut nisl volutpat, sit amet vulputate lectus aliquet. Fusce finibus dapibus dapibus. Nulla a ullamcorper ligula, ut congue nisl. Proin mattis tincidunt dui sit amet luctus.
        </p>
        <p>
            Fusce eget lorem vel magna varius feugiat eu non diam. Suspendisse tempus, enim in dignissim pellentesque, nibh ligula ultricies erat, sit amet sodales leo felis et ligula. Integer in aliquam felis, pharetra vestibulum nulla. Donec nec purus et elit iaculis sodales. Sed ornare nisl augue, eget maximus lorem tempus a. Nullam convallis eros ac ipsum lacinia, sed fringilla odio laoreet. Proin nec ullamcorper magna. Integer nisi felis, posuere sit amet facilisis sed, condimentum at est. Fusce tincidunt augue ut nibh sagittis semper. Nulla quis pellentesque elit. Nunc et accumsan turpis. Nulla facilisi. Aliquam ornare vitae diam id consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris venenatis gravida ex in mattis.
        </p>
        
    </div>
    <div class="col-4">
        <p>
            Nulla vehicula quam id est placerat molestie. Duis vestibulum tortor mauris, in bibendum nulla interdum nec. Aliquam bibendum venenatis mollis. Morbi molestie ante ac tellus egestas pellentesque. Suspendisse a nisi libero. Nullam vitae arcu id dui aliquet sodales vitae sed nisi. Ut sit amet sollicitudin neque. Curabitur malesuada suscipit dolor in consequat. Phasellus suscipit volutpat lectus, sed placerat urna eleifend vitae. Curabitur non justo non mi efficitur auctor quis ac nunc.
        </p>
        <p>
            Etiam pellentesque erat et semper fermentum. Quisque in leo scelerisque, tincidunt dolor interdum, molestie nisi. Suspendisse mattis eget risus quis mattis. Cras varius molestie mauris, sit amet porta nunc blandit lobortis. Quisque a orci non libero vestibulum efficitur. Ut semper nec turpis at hendrerit. Vivamus vitae aliquam odio. Sed lectus ante, bibendum id arcu non, vehicula mollis quam. Morbi sit amet eros sodales, vulputate velit sed, sagittis urna. Nam tincidunt, mi at sodales consequat, magna sapien tristique leo, eget consectetur leo quam sed tortor. Integer a porta libero.
        </p>
    </div>
</div>


{% endblock %}