{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content %}


{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

<div class="row pt-3">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">{% trans 'nome_progetto' %}</h1>
                <p class="lead">{% trans 'desc_progetto' %}</p>
                <a href="{% url 'list_buildings' %}" class="btn btn-success">{% trans 'button_explore' %}</a>
                </div>
            </div>
        </div>
    </div>
    
<div class="row">
    <div class="col-12">
            <div id="bs4-slide-carousel" class="carousel slide overflow-hidden" data-ride="carousel" style="height: 400px;"">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100" src="/static/img/home1.jpg"  alt="Slide One">
                      </div>
                      <div class="carousel-item" style="overflow-x: auto;">
                        <img class="d-block w-100" src="/static/img/home2.jpg" alt="Slide Two">
                      </div>
                      <div class="carousel-item" style="overflow-x: auto;">
                        <img class="d-block w-100" src="/static/img/home3.jpg" alt="Slide Three">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#bs4-slide-carousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#bs4-slide-carousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>  
                  </div>
                  
                  </div>
                  
            
    </div>
</div>

<div class="row container-fluid mb-5">
    <div class="col-4">
        {% trans 'home1' %}
    </div>
    <div class="col-4">
        {% trans 'home2' %}
    </div>
    <div class="col-4">
        {% trans 'home3' %}
    </div>
</div>

<div class="row container-fluid pt-3">
    <div class="col-12 text-center">
        <h4>Partners</h4>
    </div>
</div>

<div class="row container-fluid mb-5 pt-3">
    <div class="col-4">
        <p>UMR 5648 CIHAM. Histoire, Archéologie, Littératures des mondes chrétiens et musulmans médiévaux</p>
        <a href="http://ciham.msh-lse.fr/"><img src="/static/img/ciham.png" style="max-width:300px; max-height: 100px"></a>    
    </div>
    <div class="col-4">
        <p>DIST. Dipartimento Interateneo di Scienze, Progetto e Politiche del Territorio</p>
        <a href="http://www.dist.polito.it/"><img src="/static/img/dist.jpg" style="max-width:300px; max-height: 100px"></a>    
    </div>
    <div class="col-4">
        <p>Università degli studi di Bergamo</p>
        <a href="https://www.unibg.it/"><img src="/static/img/unibg.svg" style="max-width:300px; max-height: 100px"></a>    
    </div>
</div>


{% endblock %}