{% extends "private_base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load hb_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content%}

{{ block.super }}


{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Elemento descrittivo" "element" %}

{% endblock %}

<div class="row pt-3">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{% trans "Nuovo elemento" %}
			</div>
			<div class="card-body">
				<div class="row pt-3">
					<div class="col-8">
						<form id="formElement">
							<div class="form-group">
								<input type="button" class="btn btn-success" value="{% trans 'Salva' %}" id="btnsaveElem">
							</div>
							<div class="form-group">
								<label>{% trans 'Fonti' %}*</label>
								<input type="text" name="fontelist" class="form-control" id="fontelist" required>
								<input type="hidden" name="fonteidlist" class="form-control" id="fonteidlist">
							</div>
							<div class="form-group">
								<label>{% trans 'Citta' %}</label>
								<input type="text" name="citta" class="form-control" id="citta">
								<input type="hidden" name="cittaid" class="form-control" id="cittaid">

							</div>
							<div class="form-group">
								<label>{% trans 'Palazzo' %}*</label>
								<input type="text" name="palazzo" class="form-control" id="palazzo" required>
								<input type="hidden" name="palazzoid" class="form-control" id="palazzoid">

							</div>
							<div class="form-group" id="elemPart">
							</div>
							<div class="form-group">
								<label>{% trans 'Aggiungi nuovo elemento descrittivo' %}</label>
								<select class="form-control" id="elementType">
									<option>{% trans 'Selezionare un elemento' %}</option>
									{% for s in element_types %}
									<option value="{{s|oid}}">{% trans s.name %} </option>
									{% endfor %}
								</select>
							</div>
					</div>
					</form>
				</div>

			</div>
		</div>
	</div>


</div>
</div>
</div>

{% endblock %}

{% block script %}
<script defer type="text/javascript" src="/static/js/private/element.js"></script>
{% endblock %}