{% extends "private_base.html" %}
{% load i18n static %}
{% load hb_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content%}

{{ block.super }}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Home" "home" %}
{% endblock %}

<div class="row pt-3">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>{% trans 'Numero di palazzi nelle località' %} </h5>
            </div>
            <div class="card-body">
                <canvas id="buildingChart" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>{% trans 'Numero di elementi nelle località' %} </h5>
            </div>
            <div class="card-body">
                <canvas id="elements1Chart" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>{% trans 'Numero di elementi di ogni tipo' %} </h5>
            </div>
            <div class="card-body">
                <canvas id="elements2Chart" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>{% trans 'Lista delle località più recenti' %} </h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" style="width: 100%" id="locationTable">
                    <thead>
                        <tr class="table-primary">
                            <th>{% trans 'Nome' %}</th>
                            <th>{% trans 'Modifica' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in locations %}
                        <tr>
                            <td>{{l.name}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-oid="{{l|oid}}"><span
                                        class="oi oi-pencil"></span></button>
                                <!--<a href="{% url 'location' %}" class="btn btn-primary" role="button" aria-pressed="true"><span class="oi oi-pencil"></span></a>-->

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                <div class="text-right">
                    <a href="{% url 'location' %}" class="btn btn-primary" role="button" aria-pressed="true"
                        id="jumpLocation">{% trans 'Vai a "Località"' %}</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-4">
 <div class="card">
            <div class="card-header">
                <h5>{% trans 'Numero di fonti di ogni tipo' %} </h5>
            </div>
            <div class="card-body">
                <canvas id="sourcesChart" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5>{% trans 'Lista degli utenti più recenti' %}</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" style="width: 100%" id="locationTable">
                    <thead>
                        <tr class="table-primary">
                            <th>{% trans 'Nome utente' %}</th>
                            <th>{% trans 'Ultimo accesso' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in users %}
                        <tr>
                            <td>{{l.username}}</td>
                            <td>{{l.last_login}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{%block script %}
<script defer type="text/javascript" src="/static/js/private/main.js"></script>
{% endblock %}