{% extends "private_base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load hb_tags %}

{% block content%}

{{ block.super }}


{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Palazzi" "private_building" %}
{% endblock %}

<div class="row pt-3">
    <div class="col-12">
        <div class="form-row">
            <div class="col-8">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Selezionare palazzo</label>
                    <div class="col-8">
                        <input type="typeahead" class="form-control" name="building">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button id="changeBuilding" class="btn btn-warning" style="display: none">Cambia</button>
            </div>
        </div>
    </div>
</div>

<div id="insertReview" class="row pt-3" style="display: none">
    <div class="col-12">
        <form id="formReview">
            {% csrf_token %}
            <input type="hidden" name="oid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group float-right">
                        <input type="button" class="btn btn-success" value="Salva" id="submitReview">
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <textarea id='review' name="review"></textarea>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{%block script %}
<script defer type="text/javascript" src="/static/js/private/review.js"></script>
{% endblock %}