{% extends "private_base.html" %}
{% load hb_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content%}

{{ block.super }}


{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Fonti" "sources" %}
	
{% endblock %}



<div class="row pt-3">
    <div class="col-12">
        <div class="form-group">
            <label>Tipo fonte</label>
            <select class="form-control" id="sourceType">
                <option>Selezionare una tipologia</option>
                {% for s in source_types %}
                    <option value= "{{s|oid}}">{{s.name}}</option>
                {% endfor %}
            </select>
        </div>    


        {% for s in sources %}
            <form id="{{s|oid}}" style="display:none" action='.' method='POST' class="formSource">
                {% csrf_token %}
                {% for e in s.elements %}
                    <div class="form-group">
                        {% if e.type == 'text' %}
                            <label>{{e.label}}{%if e.required%}*{%endif%}</label>
                            <input type="text" name="{{e.name}}" placeholder="{{e.label}}" class="form-control" {%if e.required%}required{%endif%}>
                        {% endif %}
                        {% if e.type == 'textarea' %}
                            <label>{{e.label}}{%if e.required%}*{%endif%}</label>
                            <textarea name="{{e.name}}" placeholder="{{e.label}}" class="form-control" row="3" {%if e.required%}required{%endif%}></textarea>
                        {% endif %}
                        {% if e.type == 'number' %}
                            <label>{{e.label}}{%if e.required%}*{%endif%}</label>
                            <input type="number" name="{{e.name}}" class="form-control" {%if e.required%}required{%endif%}>
                        {% endif %}
                        {% if e.type == 'date' %}
                            <label>{{e.label}}{%if e.required%}*{%endif%}</label>
                            <input type="text" name="{{e.name}}" placeholder="{{e.label}}" class="form-control" {%if e.required%}required{%endif%}>
                        {% endif %}
                        {% if e.type == 'boolean' %}
                            {{e.label}} {%if e.required%}*{%endif%}
                            <label class="switch ml-2">
                                <input type="checkbox" class="default" name="{{e.name}}" {%if e.required%}required{%endif%}>
                                <span class="slider round" ></span>
                            </label>
                        {% endif %}
                        
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Salva">
                </div>
            </form>    
        {% endfor %}
            
        
    </div>
</div>

{% endblock %}

{% block script %} 

<script defer type="text/javascript">

$(document).ready(function() {
    $('#sourceType').on('change', function (){
        console.log($(this).val())
        val = $(this).val();
        $('.formSource').hide();
        $('#' + val).show();
    });

});
</script>

{% endblock %}



