{% extends "private_base.html" %}
{% load i18n static %}
{% load hb_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block content%}

{{ block.super }}


{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Fonti" "sources" %}
	
{% endblock %}



<div class="row pt-3">
    <div class="col-12">
        <div class="form-group">
                <label>{% trans 'Tipo fonte' %}</label>
                <select class="form-control" id="sourceType">
                    <option value= "0">{% trans 'Selezionare una tipologia' %}</option>
                    {% for s in source_types %}
                        <option value= "{{s|oid}}"> {% trans s.name %}</option>
                    {% endfor %}
                </select>
            </div> 
        </div>
    </div>

 <div class="row pt-3" >
    <div class="col-6" >
        {% for s in sources %}
            <form id="{{s|oid}}" style="display:none" class="formSource">
                {% for e in s.elements %}
                    <div class="form-group">
                        {% if e.type == 'text' %}
                            <label>{% trans e.name %}{%if e.required%}*{%endif%}</label>
                            <input type="text" name="{{e.name}}" placeholder="{% trans e.name %}" class="form-control" {%if e.required%}required{%endif%}>
                        {% endif %}
                        {% if e.type == 'textarea' %}
                            <label>{% trans e.name %}{%if e.required%}*{%endif%}</label>
                            <textarea name="{{e.name}}" placeholder="{% trans e.name %}" class="form-control" row="3" {%if e.required%}required{%endif%}></textarea>
                        {% endif %}
                        {% if e.type == 'number' %}
                            <label>{% trans e.name %}{%if e.required%}*{%endif%}</label>
                            <input type="number" name="{{e.name}}" class="form-control" {%if e.required%}required{%endif%}>
                        {% endif %}
                        {% if e.type == 'date' %}
                            <label>{% trans e.name %}{%if e.required%}*{%endif%}</label>
                            <input type="text" name="{{e.name}}" placeholder="{% trans e.name %}" class="form-control datecontrol" {%if e.required%}required{%endif%} pattern='(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}'>
                        {% endif %}
                        {% if e.type == 'boolean' %}
                            {% trans e.name %} {%if e.required%}*{%endif%}
                            <label class="switch ml-2">
                                <input type="checkbox" class="default" name="{{e.name}}" {%if e.required%}required{%endif%}>
                                <span class="slider round" ></span>
                            </label>
                        {% endif %}
                        
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input type="hidden" name="oid">
                    <input type="text" hidden="False" name="SourceType" value="{{s|oid}}">
                    <input name="saveButton" type="button" class="btn btn-success saveButton" value="{% trans 'Salva' %}">
                   
                 <input type="button" class="btn btn-info newElement" name="newElement" style="display: none" value="{% trans 'Aggiungi nuovo elemento' %}"> </input>
                 
                </div>
            </form>    
        {% endfor %}
            
        
    </div>
    <div class="col-6">
        <div class="card" id="cardSources" style="display: none">
				<div class="card-header">
					<h5>{% trans 'Lista fonti' %}</h5>
				</div>
				<div class="card-body">
						<table class="table table-striped" style="width: 100%" id="sourcesTable">
							<thead>
								<tr class='table-primary'>
									<th>{% trans 'Autori' %}</th>
                                    <th>{% trans 'Titolo' %}</th>
									<th>{% trans 'Modifica' %}</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						
						</table>
	
				</div>
			</div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-8">
             <div class="form-group">
                   
                   </div>
                <div class="row pt-3" id="divElement" style="display: none">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    {% trans 'Nuovo elemento' %}
                                </div>
                                <div class="card-body">
                                    <div class="row pt-3">
                                        <div class="col-8">
                                            <form id="formElement">
                                              
                                            
                                            </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
            
                        </div>
                    </div> 
    </div>
     
</div>

{% endblock %}

{% block script %} 
    <script defer type="text/javascript" src="/static/js/private/sources.js"></script>
{% endblock %}



